.container
{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;

}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin: 20px;
    background-color:aqua;

    /* transition: 2s; */

/* transition-property: background-color; */
    /* transition-delay: 5s; */



    /* transition: transform 1s ease  ; */
    /* transition: background-color 1s ease  ; */


    transition: transform 1s ease-in 1s ;
    /* transition: transform 1s cubic-bezier(0.41,-0.71, 0.33, 0.67); */


}



.box:hover{
    background-color:brown;

    /* transform: rotate(45deg); */

    transform: translateX(500px) rotate(360deg)scale(2);

}