/* p{
    position: static;
} */      

/* div{
    display: inline-block;
    /* display: block ;  */
    /* display: inline ; */
    /* width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
} */ 
#box3{
  
   position: absolute;
  
     top: 100px; 
    left: 50px;

}

/* #box1
{
    position: fixed;
} */

#box4{
    position: sticky;
    top: 0px;
}

.wrapper{
    width: 100vw;
    height: 2000px;
    background-color: yellow;

}


.image{
    width: 100vw;
    height: 1000px;
    margin: 10px;
    background-color: red;
   /* display: flex;
   justify-content: center;
   width: 1000px;
   height: 100px; */


}

